<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create | message</title>
</head>
<body>
    <h1 align='center'>Create Message</h1>
    <form method='POST' action="\create">
        {% csrf_token %}
        <table align='center'>
            <tr>
                <td>Enter Name:</td>
                <td><input type="text" name='uname' placeholder='enter your name'></td>
            </tr>
            <tr>
                <td>Email ID:</td>
                <td><input type="Email" name='uemail' placeholder='enter your email id'></td>
            </tr>
            <tr>
                <td>Mobile no.:</td>
                <td><input type="number" name='mobile' placeholder='sender mobile'></td>
            </tr>

            <tr>
                <td>Message:</td>
                <td><textarea name="msg" rows='5' cols='20'></textarea></td>
            </tr>
            <tr>
                <td colspan ='2' align='center'>
                    <input type="submit" value='send'>
                </td>
            </tr>

        </table>
    </form>
    
</body>
</html>